body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

.container{
    width:80%;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px #ccc;
}

h1,h2{
    text-align:center;
}

.btn{
    display:inline-block;
    background:blue;
    color:white;
    padding:10px 15px;
    text-decoration:none;
    border-radius:5px;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid #ccc;
}

th,td{
    padding:10px;
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:10px;
    background:green;
    color:white;
    border:none;
    cursor:pointer;
}
