<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h1>CRUD</h1>

        <a href="/add" class="btn">Add Person</a>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Action</th>
            </tr>

            {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.city }}</td>
                <td>
                    <a href="/edit/{{ person.id }}">Edit</a> |
                    <a href="/delete/{{ person.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>

</body>

</html>